.smc-red .page-banner,
.smc-blue .page-banner,
.smc-yellow .page-banner {
	&.white {
		.banner-subtitle,
		.banner-title {
			color: white;
		}
	}
}
.smc-red .page-banner {
	background-image: linear-gradient(90deg, var(--base-red), var(--base-yellow));
	.banner-title {
		color: var(--base-red);
		&.white {
			color: white;
		}
	}
	&.white {
		.banner-title {
			color: white;
		}
	}
}

.page-banner.full {
	.path {
		left: -10%;
	}

	.path-4,
	.path-5 {
		left: auto;
		right: -4%;
	}
}

.smc-blue .page-banner {
	background-image: linear-gradient(
		90deg,
		var(--base-blue),
		var(--shade1-blue)
	);
	.banner-title {
		color: var(--base-blue);
		&.white {
			color: white;
		}
	}

	.path {
		background-image: linear-gradient(90deg, #04496c, #04496c);
	}
	.path-1 {
	}
	.path-2 {
		background-image: linear-gradient(90deg, #fbe41600, #fbe416);
	}
	.path-3 {
		opacity: 1;
		background-image: linear-gradient(90deg, #fbe41600, #fbe416);
	}
	.path-4 {
		background-image: linear-gradient(
			90deg,
			var(--base-yellow),
			var(--shade1-blue)
		);
	}
	.path-5 {
		mix-blend-mode: overlay;
	}
}
.smc-blue .page-banner.full {
	.path {
		width: clamp(31.25rem, 113.64vi + 2.84rem, 93.75rem);
		border-radius: 25rem;
	}
	.path-1 {
		height: 56%;
		mix-blend-mode: normal;
		top: 84%;
		left: clamp(12.5rem, 17.05vi + 8.24rem, 21.88rem);
	}
	.path-2 {
		top: 40%;
		left: -30%;
		height: 56%;
	}
	.path-3 {
		top: 40%;
		left: 5%;
		height: 70%;
	}
	.path-4,
	.path-5 {
		display: none;
	}
}

.smc-yellow .page-banner {
	background-image: linear-gradient(
		90deg,
		var(--base-blue),
		var(--shade1-blue)
	);
	.banner-title {
		color: var(--base-blue);
		&.white {
			color: white;
		}
	}
	&.white {
		.banner-title {
			color: white;
		}
	}

	.path {
		height: 15rem;
		background-image: linear-gradient(90deg, #0b7bb5, #fcd71a);
	}
	.path-1 {
		left: -10%;
		top: 40%;
		mix-blend-mode: darken;
		background-image: linear-gradient(90deg, #fcd71a, #0b7bb5);
	}
	.path-2 {
		top: 20%;
		left: -5%;
		background-image: linear-gradient(90deg, #ccab00, #ffd038, #0b7bb5);
	}
	.path-3 {
		display: none;
	}
	.path-4 {
		opacity: 0.8;
		background-image: linear-gradient(90deg, #0b7bb5, #fcd71a);
		top: 75%;
		right: 5%;
		height: 30rem;
	}
	.path-5 {
		mix-blend-mode: multiply;
		background-image: linear-gradient(90deg, #0b7bb5, #fcd71a);
		top: 75%;
		right: 10%;
	}
}

.page-banner {
	position: relative;
	overflow: hidden;
	margin-top: var(--nav-height);
	display: flex;
	align-items: center;

	.container-fluid-width {
		position: relative;
		z-index: 1;
	}
	.banner-info {
		width: 768px;
		max-width: 100%;
		p {
			font-weight: normal;
		}
	}
	.banner-title {
		margin: 0;
		max-width: 980px;
	}
	&.center {
		text-align: center;
		.banner-info {
			width: 750px;
		}
		.banner-info,
		.banner-title {
			margin-left: auto;
			margin-right: auto;
		}
	}
	&.no-image {
		height: clamp(12.5rem, 12.5vi + 9.38rem, 19.38rem);
		text-align: center;
		.banner-info {
			width: 750px;
		}
		.banner-info,
		.banner-title {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&.no-bg {
		background-image: none;
		padding: 5rem 0 3rem;
		height: auto;
		+ .section-content {
			padding-top: 0;
		}
		.banner-bg {
			display: none;
		}
	}
	&.full {
		height: clamp(18.75rem, 29.55vi + 11.36rem, 35rem);
	}
	.banner-subtitle {
		max-width: 768px;
		margin-top: 2rem;
		margin-bottom: 0;
	}
}

.banner-img {
	height: 110%;
	width: 100%;
}

.banner-bg,
.banner-shade {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	top: 0;
	left: 0;
}

.banner-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	perspective: 100px;
	perspective-origin: 50% 100%;
	.path {
		border-radius: 10rem;
		height: 35%;
		width: 100rem;
		background-image: linear-gradient(
			90deg,
			var(--base-yellow),
			var(--base-red)
		);
		position: absolute;
		top: 50%;
		left: 0;
	}
	.path-1 {
		mix-blend-mode: multiply;
		background-image: linear-gradient(
			90deg,
			var(--base-yellow),
			var(--base-red) 25%
		);
	}
	.path-2 {
		opacity: 0.78;
		mix-blend-mode: hard-light;
		background-image: linear-gradient(
			90deg,
			var(--base-yellow) 25%,
			var(--base-red)
		);
	}
	.path-3 {
		opacity: 0.41;
		mix-blend-mode: hard-light;
		background-image: linear-gradient(
			90deg,
			var(--base-yellow),
			var(--base-red)
		);
	}
	.path-4,
	.path-5 {
		left: auto;
		right: 0;
	}
	.path-4 {
		opacity: 0.77;
	}
	.path-5 {
		opacity: 0.75;
		mix-blend-mode: multiply;
	}
}

.banner-img {
	background-size: cover;
	background-position: center;
}

.banner-shade {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
